@import "tailwindcss";
@import './datepicker.css';

/* Define your extended theme directly here */
@theme {
  --drop-shadow-center: 0 0px 2px rgba(0, 0, 0, 0.20);

  --shadow-left: -4px 0 10px rgba(0, 0, 0, 0.1);
  --shadow-bottom: 0 3px 3px -1px rgba(0, 0, 0, 0.05);

  /* Animations */
  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }

  @keyframes slide-in {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes slide-out {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(100%);
    }
  }

  @keyframes slide-up {
    0% {
      transform: translateY(100%);
    }

    100% {
      transform: translateY(0);
    }
  }

  @keyframes slide-down {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(100%);
    }
  }

  --animate-slide-in: slide-in 0.2s ease-in-out forwards;
  --animate-slide-out: slide-out 0.2s ease-in-out forwards;
  --animate-slide-up: slide-up 0.2s ease-in-out forwards;
  --animate-slide-down: slide-down 0.2s ease-in-out forwards;
  --animate-shimmer: shimmer 2s linear infinite;

  /* Colors */
  --color-neutral-50: #FFFCFF;
  --color-neutral-100: #F6F6F6;
  --color-neutral-200: #E4E4E4;
  --color-neutral-300: #C9C9C9;
  --color-neutral-400: #AEAEAE;
  --color-neutral-500: #939393;
  --color-neutral-600: #787878;
  --color-neutral-700: #5D5D5D;
  --color-neutral-800: #424242;
  --color-neutral-900: #272727;

  --color-primary-50: #F7F6FE;
  --color-primary-100: #E7E6FC;
  --color-primary-200: #D0CEF9;
  --color-primary-300: #B9B5F6;
  --color-primary-400: #A19DF3;
  --color-primary-500: #736CED;
  --color-primary-600: #5F5AC5;
  --color-primary-700: #4C489E;
  --color-primary-800: #393676;
  --color-primary-900: #26244F;

  --color-secondary-50: #F8F8FD;
  --color-secondary-100: #EBEBFB;
  --color-secondary-200: #D8D8F7;
  --color-secondary-300: #C5C5F4;
  --color-secondary-400: #B2B2F0;
  --color-secondary-500: #9F9FED;
  --color-secondary-600: #8484C5;
  --color-secondary-700: #6A6A9E;
  --color-secondary-800: #4F4F76;
  --color-secondary-900: #35354F;

  --color-accents-500: #C9D8FC;
  --color-accents-600: #17183B;
  --color-accents-700: #E5FFDE;
  --color-accents-800: #F2DFD7;
  --color-accents-900: #D7C7E2;

  --color-success-50: #D7F3E7;
  --color-success-100: #AFE7D0;
  --color-success-200: #87DCB8;
  --color-success-300: #5FD0A1;
  --color-success-400: #37C489;
  --color-success-500: #10B972;
  --color-success-600: #0D9A5F;
  --color-success-700: #0A7B4C;
  --color-success-800: #085C39;
  --color-success-900: #053D26;

  --color-error-25: #FDF2F2;
  --color-error-50: #FDECEC;
  --color-error-100: #FAC5C5;
  --color-error-200: #F8A9A9;
  --color-error-300: #F48282;
  --color-error-400: #F26969;
  --color-error-500: #EF4444;
  --color-error-600: #D93E3E;
  --color-error-700: #AA3030;
  --color-error-800: #832525;
  --color-error-900: #641D1D;
}